.newpassword-box {
  height: 100vh;
  overflow: hidden;
}
.newpassword-center {
  position: absolute;
  top: 24%;
  left: 20%;
  height: 60vh;
  width: 50vw;
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  padding: auto 0;
}
.repass-word {
  width: 100%;
  margin: 0 auto;
  padding: 70px;
}
.div-button-60 {
  margin-top: 16px; margin-left: 20%;
}
.button-60 {
  width: 60%;
}